<html>
  <body>
    <h1><strong>Pokemon database demo page</strong></h1>
    <h2>Useful links</h2>
    <ul>
      <li><a href='https://github.com/Coolnesss/PokemonMaster'>Project repository</a></li>
      <li><a href='https://github.com/Coolnesss/PokemonMaster/blob/master/docs/Pokemon.pdf'>Project docs</a></li>
    </ul>

    <a href='http://advancedkittenry.github.io/suunnittelu_ja_tyoymparisto/aiheet/Pokemon-kanta.html'>Description of work in finnish</a>

  </body>
</html>
